<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>fb_googletagmanager</name>
	<displayName><![CDATA[Google Tag Manager]]></displayName>
	<version><![CDATA[1.0.1]]></version>
	<description><![CDATA[Adding Google Tag Manager script]]></description>
	<author><![CDATA[FinalBit]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>